.line {
    border-top: 10rpx solid lightseagreen;
    margin: 100rpx 0;
}

button {
    margin: 34rpx;
}

// .custom {
//     color: lightgreen;
//     font-size: 50rpx;
// }

// .label {
//     color: lightseagreen;
// }

// text {
//     color: lightseagreen;
// }

// .parent .son .test {
//     color: lightcoral;
// }

.label {
    color: lightsalmon;
}